body {
    margin: 3rem 15rem;
    background-color: gainsboro;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

li {
    margin: 5px;
}


.endpoint {
    margin: 30px 0;
}

.code {
    font-family: 'Inconsolata', monospace;
}